@charset "UTF-8";

.bookimg{
	width:300px;
	height:400px;
}

.num{
	color: orange;
}

.content{
	background-color: #0F6878;
	padding: 20px 40px;
	color: white;
	
	width:500px;
}

.color{
	color: orange;
}


.titleno{
	font-size: 30px;
	color:orange;
}