@charset "UTF-8";

/* 전체 배경색 */
body{
	background-color: #F5F6F7
}

/* 기본 여백 제거, 기본 폰트 */
*{
	padding: 0px; margin: 0px; font-family: "맑은 고딕"
}
 
/* a 태그의 기본값 수정 */
a{
	color: black; text-decoration: none;
}

/* 페이지 구역 */
#wrap{
	width: 400px;
	margin: 0 auto;
}

/* 로고 */
#header .h_logo img{
	height: 50px;
}

#header .h_logo{
	text-align: center;
	margin: 50px 0px;
}

/* ----------- 본문 ---------- */
#join_form h5{

	margin: 10px 0px;
}

.signup_input{
	border: 1px solid #DEDEDE;
	background-color: white;
	padding: 10px;
	display: flex;
	flex-wrap: nowrap; /* 자식요소들의 사이즈가 컸을때 자동 줄바꿈 안함 ( 기본값 )*/
	align-items: center;
}

.input_id{
	border: none;
	width: 100%;
	height: 30px;
}

/* 포커스 : 커서 들어왔을때 */
*:focus{ outline: none; }
.signup_at{
	color:#999999;
}
	
/* 네이버 아이콘 배경으로 넣기 */
.signup_icon{
	background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
	width:25px; height: 25px;
	background-size: 120px 75px;
/* 	background-position-x: 10px; 배경 위치 좌표 x
	background-position-y: 10px; 배경 위치 좌표 y  */
}

/* 생년월일 구역 */
.birthbox{
	display: flex;
}

/* 월 구역 */
.birthM{
	margin-left: 20px; margin-right: 20px;
}

.birthy, .birthM, .birthD{
	width: 120px;
}

.info{
	font-size: 10px;
	color: #B9BFB3
}

.phonebox{
	display: flex;
	justify-content: space-between;
	margin: 10px 0px;
}

.btn_auth{
	background-color: #02C759;
	border: none; 
	color: white;
	width: 120px;
	font-weight: bold;
/* 	margin: 5px; */
}

.input_phone{
	width:250px;
}

.auth_input, .input_auth{
	background-color: #F5F6F7;
}

.btn_signup{
	margin: 30px 0px;
	width: 100%; height: 50px;
	background-color: #02C759;
	font-size: 18px;
	border: none;
	color: white;
	font-weight: bold;
}

/* 푸터 상단 링크 구역 */

#footer{
	text-align: center;
}
.ft_top a{
	font-size: 8px;
}

.ft_sub{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5px;
}

.ft_sub img{ height: 10px; padding: 10px;}

.aline{
	color: #e8e8e8;
	font-size: 5px;
}