@charset "UTF-8";

.box{
	border: 1px solid blue; /* 테두리 */
	width: 100px; /* 가로길이 */
}

/* 1. 가로배치할 부모요소 flex */
.flex_box1{
	padding : 5px;
	border: 1px solid red;
	display: flex; /* 하위 요소 배치방법 */
	flex-direction: row; /* 방향 : row 기본값 */
}

/* 2. 새로배치할 부모요소 flex */
.flex_box2{
	padding : 5px;
	border: 1px solid red;
	display: flex; /* 하위 요소 배치방법 */
	flex-direction: column; /* 방향 : 세로배치 */
}

/* 3. 가로배치 반대로 배치하는 요소들의 부모요소 */
.flex_box3{
	padding : 5px;
	border: 1px solid red;
	display: flex; /* 하위 요소 배치방법 */
	flex-direction: row-reverse; /* 방향 : 세로배치 */
}

/* 4. 세로배치 반대로 배치하는 요소들의 부모요소 */
.flex_box4{
	padding : 5px;
	border: 1px solid red;
	display: flex; /* 하위 요소 배치방법 */
	flex-direction: column-reverse; /* 방향 : 세로배치 */
}