@charset "UTF-8";



*{
	padding:0px;
	margin:0px;
	font-family: "맑은 고딕";
}

li{
	list-style-type: none;
}

a{
	color:black; text-decoration: none;
}

#header{
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	
}

.h_left span{
	color : #145FC1;
}

.h_right li{
	display: inline-block;
	margin: 15px;
	font-weight: bold;
	align-items: center;
	font-size: 12px;
}

.h_right a:hover , .h_left:hover{
	background-color: lightgray;
}

#main_img{
	margin: 0 auto;
	background-image: url("img/sub_intro.jpg");
	width:1200px;
	height:300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_text{
	color:white;
	text-align: center;
}

.main_text span{
	font-size: 12px;
}

.the{
	color:blue;
}

/* --------------- 본문 ------------- */
#content{
	width:1000px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.cont_img{
	padding:20px;
	width:450px;
}


.main_content{
/* 	padding:20px;
	margin:10px; */
}

.main_content h3{
	padding-left: 10px;
	margin: 10px;
}

.coutul{
	padding: 10px;
}
.contul li{
	font-size: 12px;
	margin-left: 10px;
	line-height: 180%;
	
}

.main_content p{
	padding:10px;
	font-size: 12px;
}

.intro1{
	margin-bottom: 50px;
	
}
.intro1 img{
	width : 360px;
	
}

.intro1_text{
		width : 328px;
		line-height: 200%;
		font-size: 12px;
		padding: 17px;
		
}
.intro1_text p{
	margin-top: 20px;
	
}
.intro1_text h2 , .intro_text h4{
	font-weight: 800;
}

.m_bottom{
	width: 100%;
	background-color: #EEEEEE;



}
.d2{
	display: flex;
	justify-content: flex-start;
	width:800px;
	margin: 0 auto;
	padding-top: 50px; 
	
}


#footer{
	background-color: #292C32;
	color: white;
	font-size: 14px;
	width:100%;
	
}

.ft_content{
	padding:30px;
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between; 
}

.ft_left{
	display: inline-block;
	margin-top: 20px;
	line-height: 150%;
	
}

.ft_left h3{
	font-size: 20px;
}

.ft_center{
	display: inline-block;
	justify-content: space-between;
	margin-top: 20px;
	line-height: 150%;
}

.ft_right{
	display: flex;
	margin-top: 20px;
	line-height: 150%;
}

.ft_right li{
	margin-right: 5px;
}

.main_center{
	font-size:12px;
	margin-bottom: 10px;
}

