@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
	font-family: "맑은 고딕";
}

li{
	list-style-type: none;
}

a{
	color:black; text-decoration: none;
}

#header{
	margin: 0 auto;
	width: 800px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.h_menu li{
	display: inline-block;
	margin-left: 20px;
}

#main_img{
	margin: 0 auto;
	background-image: url("img/sub_reservation.jpg");
	width:1200px;
	height:300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_text{
	color:white;
	text-align: center;
}

.main_text span{
	font-size: 12px;
}

.the{
	color:blue;
}

/* --------------- 본문 ------------- */
#content{
	width:1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
}

.calendar{
	width:600px;
	background-color: #FCF9EA;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.cal_table{
	
	border-collapse:collapse;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar li{
	padding:10px;
}

.cal_main td{
	width: 70px;
}

.cal_sub td{
	vertical-align: top;
	text-align:left;
	width: 70px;
	height: 70px;
}

.cal_sun{
	color: red;
}

/* ---------- 캘린더 end  -------- */

.main_content{
	padding:20px;
	margin:10px;
}

.main_content h3{
	border-left: 3px solid black;
	padding-left: 10px;
	margin: 10px;
}

.coutul{
	padding: 10px;
}
.contul li{
	font-size: 12px;
	margin-left: 10px;
	line-height: 180%;
	
}

.main_content p{
	padding:10px;
	font-size: 12px;
	color: green;
}

#footer{
	background-color: #292C32;
	color: white;
	font-size: 14px;
	
}

.ft_content{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}

.ft_left{
	display: block;
	margin-top: 20px;
	line-height: 150%;
	
}

.ft_center{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	line-height: 150%;
}

.ft_right{
	display: flex;
}

