@charset "UTF-8";


/* 회원가입 전체 구역 */
.signupForm{
   width: 40%;
   margin: 0 auto;
   font-size: 15px;
}
.signupForm h2, .signupForm p{
   text-align: center;   /* 구역 내 텍스트 가운데 정렬 */
   margin-top: 10px;
   
   
   
}

/* 입력상자 */
.signupForm input{   
   width: 100%;
   height: 50px;
   padding: 10px;
   border: 1px solid #e8e8e8;
   border-radius: 10px;
}

/* 입력 구역 이름 */
.intitle{
   font-size: 16px;
   margin: 20px 0px 10px 0px;   
}

/* 유효성검사 결과 구역 */
.idcheckbox, .pwcheckbox, .emailcheckbox{
   color: #ea3636;
   font-size: 15px;
   margin: 0px 0px 10px 5px;
}

/* 인증요청 버튼, 인증 버튼 */
.emailbox button, .authbox button{
   width: 20%;
   height: 50px;
   background-color: #75C1CF;
   color: white;
   border: none;
   border-radius: 15px;
   margin-left: 10px;
}

/* 이메일 구역 */
.emailbox{
   display: flex;
}

/* 인증 구역 */
.authbox{
   display: flex;
   align-items: center;
   margin-top: 10px;
}
.timebox{
   width: 30%;
   padding: 10px;
   font-size: 20px;
}



/* 
   식별자
      class   .
      id      #
      태그      태그명
      
      1. 하위식별자
         식별자명 하위식별자명 : 모든 자손 하위 식별자 적용
         식별자명>하위식별자명 : 직계자손 식별자 적용
      2. 복수 식별자
         식별자명, 식별자명


 */