@charset "UTF-8";

*{ margin: 0; padding: 0;
font-family: "맑은 고딕"
}

#webpage{
	width: 1200px;
	margin: 0 auto;
		
}

#header{
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	
}



a{
	color: black;
	text-decoration: none;
	
}

.h_left span{
	color : #145FC1;
}

.h_right li{
	display: inline-block;
	margin: 15px;
	font-weight: bold;
	align-items: center;
	font-size: 12px;
}

.h_right a:hover , .h_left:hover{
	background-color: lightgray;
}

.m_top{
	display: flex;
	width: 1200px;
	height: 200px;
	background-image: url("img/sub_intro.jpg");
	background-size: 1200px 250px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	margin-bottom: 50px;
}

.m_top h4 , .m_top h6{
	font-weight: 300;
	
}

.m_middle{
	display: flex;
	width: 800px;
	margin: 0 auto;
	

}

.intro1{
	margin-bottom: 50px;
	
}
.intro1 img{
	width : 360px;
	
}

.intro1_text{
		width : 328px;
		line-height: 200%;
		font-size: 10px;
		padding: 17px;
		
}
.intro1_text p{
	margin-top: 20px;
}
.intro1_text h2 , .intro_text h4{
	font-weight: 800;
}

.m_bottom{
	width: 100%;
	background-color: #EEEEEE;
}
.d2{
	display: flex;
	justify-content: flex-start;
	width:800px;
	margin: 0 auto;
	padding-top: 50px; 
	
}

#footer{
	background-color: #292C32;
	width: 100%;
	display: flex;

	
}
.f_content{
	width: 800px;
	margin: 0 auto;
	color: white;
	display: flex;
	height : 100px;
	justify-content: space-between;
	padding: 40px;
	
	
}
.tel{
	font-size: 13px;
	color: white;

}

.tel p{
	font-size: 20px;
	line-height: 180%;
	color: white;	
	
}
.copy1 li{
	list-style-type: none;
	display: inline-block;
	font-size: 11px;
}

.k1{
	color: white;
	
}

.copy2{
	margin-top: 10px;
	font-size: 10px;
	
}

