@charset "UTF-8";

*{ padding : 0px; margin: 0px;
	font-family: 'TTWanjudaedunsancheB'; }

li{ list-style-type: none; }

a{ color: black; text-decoration: none;}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.head_menu{
	display : flex;
	justify-content: space-around;
}
