@charset "UTF-8";
*{ margin: 0px; padding: 0px; }/* 여백 제거 */
li{ list-style-type: none; }/*글머리 제거*/
.tmp
{
   background-color: #2F2F2F;
}
.Header{
   /*font-family: 'TTWanjudaedunsancheB';*/
   background-color: black;
      height: 180px;
}

.h_logo img{
   width: 250px; height: 180px;
}

.hd_box{
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   
}


