@charset "UTF-8";
.title{
	text-align: center;
	padding-top: 50px;
}

.content{
	margin: 0 auto;
	border: solid 1px #eeeeee;
	text-align: center;
	width: 500px;
}

.conts{
	border-bottom: solid 3px #eeeeee;
	margin-left: 70px;
	margin-right: 70px;
	text-align: left;
	padding: 10px;
	color: #95908E;
}

#t1{
	font-size: 13px;
	text-align: right;
}