@charset "UTF-8";
.title{
	
	text-align: center;
	padding-top: 50px;
}

.content{
	margin: 0 auto;
	border: solid 1px #eeeeee;
	text-align: center;
	width: 500px;
}

.conts{
	border-bottom: solid 3px #eeeeee;
	margin-left: 70px;
	margin-right: 70px;
	text-align: left;
	padding: 10px;
	color: #95908E;
}

.btn1{
	border: solid 1px #eeeeee;
	width: 360px;
	height: 40px;
	background-color: yellow;
	margin-bottom: 15px;
}

.btn2{
	border: solid 1px #F0F0F0;
	width: 360px;
	height: 40px;
	background-color: #F0F0F0;
}

.list{
	font-size: 10px;
	text-align: right;
	margin-bottom: 30px;
	margin-right: 70px;
}

.list2{
	font-size: 13px;
	text-align: center;
}

.list3{
	font-size: 10px;
	text-align: center;
}

.t1{
	padding-left: 35px;
	text-align: left;
	font-size: 13px;
}

#b{
	font-weight: bold;
}

