@charset "EUC-KR";

/* 전체 */ 
*{
	margin: 0; padding: 0;
	font-size: 12px;
}

/* a 태그 */
a{ color:black; text-decoration: none; }
/* a 태그 드래그 했을 때 */
/* a:hover{ color: #DFDED8; } */
/* li 글머리 설정 */
li{ list-style-type: none; }

/* 본문 */
#content{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

/* 타이틀 */
.title{
	font-size: 18px;
	padding: 30px;
	color: #555555;
	font-weight: normal;
}

/* QnA 버튼 */
.qna_btn{
	margin-bottom: 50px;
}

.qna_btn input{
	width:150px; height:50px;
	margin: 0px 5px;
	border: 1px solid #DADADA;
	background-color: white;
}

.qna_btn input:hover{
	border: 1px solid #666666;
}

/* 검색 */
.qna_search{
	text-align: right;
}

.qna_search .search_list{
	width: 80px; height: 30px;
	border: 1px solid #DADADA;
}

.qna_search .search_list:hover{
	border: 1px solid #666666;
}

.qna_search .search_text_box{
	height: 26px;
	border: 1px solid #DADADA;
}

.qna_search .search_text_box:hover{
	border: 1px solid #666666;
}


.qna_search .search_btn{
	background-image: url("img/search_btn.PNG");
	width: 67px; height: 35px;
	/* border: 1px solid #DADADA; */
	border: none;
	margin-bottom: 5px;
	vertical-align: middle;
}

/* 게시물 */
.qna_list_box{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.qna_list{
	border-collapse: collapse;
	color: #A8A8A8;
	
}

.qna_list td, .qna_list th{
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	padding: 10px;
}

.qna_list .list_center{
	width:970px;
}

.qna_list .list_center_td{
	color: black;
	text-align: left;
}

.qna_list .mode_color{
	color:#666666;
}

/* 현재 페이지 */

.page{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width:80px;
	text-align: center;
}

.page span{
	width:30px; height:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page span:hover{
	background-color: #555555;
	color: white;
}
