@charset "UTF-8";

*{
	padding:0px; margin: 0 auto;
}

li{
	list-style-type: none;
}
#wrap{
	display: flex;
}



.write_page{ 
	margin-right:30px;	
	border:1px solid #eeeeee;
	padding:30px;
	width:500px;
}

.list_page{ 
	margin-right:30px;	
	border:1px solid #eeeeee;
	padding:30px;
	width:500px;
}

.read_page{ 
	margin-right:30px;	
	border:1px solid #eeeeee;
	padding:30px;
	width:500px;
}

.read_ul{
	
	flex-direction: column;
}